sofia_ppo/darkForest/__pycache__/Planets.cpython-314.pyc
sofia_ppo/darkForest/__pycache__/model.cpython-314.pyc
sofia_ppo/darkForest/__pycache__/Civilizations.cpython-314.pyc
sofia_ppo/darkForest/runs/darkforest_independent_1780513627.pt
sofia_ppo/darkForest/runs/darkforest_independent_1780515246.pt
sofia_ppo/darkForest/runs/darkforest_independent_1780516369.pt
sofia_ppo/darkForest/runs/darkforest_independent_1780516646.pt
